---
---
body
  font-family: sans-serif

*, *:before, *:after
  font-family: inherit

h1.book-title
  text-align: center
  margin-top: 2em
  margin-bottom: 1em

.book-subtitle
  text-align: center

.def-title
  font-weight: bold

.def-house
  font-weight: normal
  font-size: 1

strong
  font-weight: bold

p
  text-align: justify
