---
layout: default
---
<div class="page">
<div class="definition-wrapper">

<article class="definition-definition">
  <h1>
    {{ page.title }}
    {% if page.inflections.size > 0 %}
    <span class="inflections">(
    {% for infl in page.inflections %}
    {{ infl }}{% unless forloop.last %}, {% endunless %}
    {% endfor %}
    )</span>
    {% endif %}
  </h1>
  {{ content }}
</article>

<nav class="definition-navigation">
  <ul>
    <li>
      <a href="/defs/">
        <i class="octicon octicon-arrow-left">&nbsp;</i>Back to index
      </a>
    </li>

    <li class="break line"></li>

    <li class="text">
      <code>{{ page.path }}</code>
    </li>

    <li class="break"></li>

    <li>
      <a href="https://github.com/wjdp/gotdict/issues/new?title={{ page.title }}&body=[{{ page.path }}](https://github.com/wjdp/gotdict/blob/master/{{ page.path }})">
        <i class="octicon octicon-issue-opened">&nbsp;</i>Report an issue with this definition
      </a>
    </li>
        <li>
      <a href="https://github.com/wjdp/gotdict/edit/master/{{ page.path }}">
        <i class="octicon octicon-git-pull-request">&nbsp;</i>Propose improvements to this definition
      </a>
    </li>

    <li class="break"></li>

    <li>
      <a href="https://github.com/wjdp/gotdict/blob/master/{{ page.path }}">
        <i class="octicon octicon-code">&nbsp;</i>View on GitHub
      </a>
    </li>
    <li>
      <a href="https://github.com/wjdp/gotdict/commits/master/{{ page.path }}">
        <i class="octicon octicon-history">&nbsp;</i>View change history
      </a>
    </li>
    <li>
      <a href="https://github.com/wjdp/gotdict/blame/master/{{ page.path }}">
        <i class="octicon octicon-diff-modified">&nbsp;</i>View line-by-line last changes
      </a>
    </li>
  </ul>
</nav>

</div>
</div>